
nav ul {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

nav ul li {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: .3125rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}